@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "BeVietnamThin";
    src: url("../assets/BeVietnam-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "BeVietnam";
    src: url("../assets/BeVietnam-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "BeVietnamBold";
    src: url("../assets/BeVietnam-Bold.ttf") format('truetype');
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'BeVietnam';
}